/* Navigationsleiste */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 1%;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

ul.navbar li {
  float: left;
  margin-right: 0%;
}

ul.navbar li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover:not(.activebar) {
  background-color: #ddd;
}

ul.navbar li a.activebar {
  color: white;
  background-color: rgb(90, 41, 59);
}

/* Laufbahnliste */
ul.laufbahn {
    list-style-type: none;
    text-align: center;
}

  li {
    float: center;
    text-align: center;
    margin-left: 0%;
    margin-right: 10%;
    font-size: 1.5vw;
    font-family: "URW Bookman L", Bookman, serif;
  }

/* Standard formatierungen */
body {
  margin:0%;
}

img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

h1 {
  text-align: justify;
  margin-top:30%;
  margin-bottom: 5%;
  font-size: 6vw;
  font-family: "URW Bookman L", Bookman, serif;
}

h2 {
  text-align: justify;
  margin-top:0%;
  margin-bottom: 40%;
  font-size: 3vw;
  font-family: "URW Bookman L", Bookman, serif;
  }

h4 {
  font-family: "URW Bookman L", Bookman, serif;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-top: 2%;
  margin-bottom: 2%;
}

p {
  text-align: center;
  margin-top:50%;
  margin-bottom: 50%;
  font-size: 1.2vw;
  font-family: "URW Bookman L", Bookman, serif;
  width: 80%;
}

/* Divs */
.headdiv {
  width: 100%;
  overflow:auto;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

.leftdiv {
  float: left;
  width: 40%;
  padding: 5%;
  height:fit-content;
  align-self: center;
}
  
.rightdiv {
  float: left;
  width: 40%;
  padding: 5%;
  height:fit-content;
  align-self: center;
}

.b1 {
  background-color: rgb(224, 188, 201);
}

.b2 {
  background-color: rgb(255, 255, 255);
}

.b3 {
  background-color: rgb(224, 188, 201);
}

.b4 {
  background-color: #666;
  width: 100%;
}

/* Handyansicht */
  @media screen and (max-width: 800px) {
    ul.navbar li.right, ul.navbar li {
        float: none;
        margin-right: 0%;
        font-size: 3vw;
    }

    .leftdiv, .rightdiv {
        width: 90%;
    }
    h1 {
      font-size: 12vw;
    }
    h2 {
      font-size: 6vw;
    }
    p {
      font-size: 3vw;
    }
    li {
      font-size: 3vw;
    }
  }